// Generics

body {
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  
  a {
    padding: 8px;
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }
