// Palette colors

$black: #1A0B03;
$blue: #173B67;
$orange: #CE7C2A;
$white: #FFFFFF;
$darkgrey: #444444;
$lightgray: #F5F5F5;
$yellow: #FFCC01;
$grey: #818387;
$lightblue: #94CDE4;
$darkblue: #3940B8;
$fuchsia: #BD2C4D;
$heavenly: #85CBCE;
$violet: #9D26A8;
